<tr id="hit_<%= hit.hitId %>">
	<td class="hid"><a href="<%= hit_url(hit) %>"><%= h hit.hitId %></a></td>
	<td class="san"><%= hit.sandbox ? "Yes" : "No" %></td>
	<td class="blo"><%= h hit.blogURL %></td>
</tr>